<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./register.page.css" />
    <link rel="stylesheet" href="https://safientui.netlify.app/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Register</title>
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <!-- logo -->
      <h2 class="logo text-2xl">Logo</h2>
      <!-- search -->
      <input type="text" placeholder="Search" class="nav-search" />

      <!-- action buttons -->
      <div class="nav-actions">
        <button class="btn login-btn">Login</button>

        <div class="nav-actions-icon">
          <i class="fa fa-heart-o fa-2x nav-wishlist"></i>
          <span class="rounded">1</span>
        </div>

        <div class="nav-actions-icon">
          <i class="fa-solid fa-cart-shopping-fast"></i>
          <span class="rounded">0</span>
        </div>
        cart
      </div>
    </nav>

    <!-- form -->
    <div class="login-container">
      <div class="login-form">
        <h2>Login</h2>
        <div class="input-group">
          <label>Email address</label>
          <input type="email" required />
        </div>

        <div class="input-group">
          <label>Password *</label>
          <input type="text" />
        </div>
        <div class="input-actions">
          <input type="checkbox" name="remember" id="remember" />
          <label for="checkbox">Remember me</label>

          <a href="#">Forgot your Password?</a>
        </div>
      </div>
    </div>
  </body>
</html>
