@import url('./src/pages/auth/auth.page.css');
@import url('./src/styles/utils.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  overflow: hidden;
}

nav {
  background-color: #1a2233;
  color: var(--neutral-white);
  height: 8rem;
  padding: 2.2rem 16.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav input[type='text'] {
  width: 42.1rem;
  height: 4rem;
  font-size: 1.6rem;
}

nav .login-btn {
  background-color: #661dee;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.2rem;
}

nav .nav-actions-icon {
  font-size: 2rem;
  position: relative;
}
