@import url('./src/pages/auth/auth.page.css');
@import url('./src/styles/utils.css');
@import url('./src/pages/wishlist/wishlist.page.css');
@import url('./src/pages/product-listing/product-listing.html');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

nav {
  background-color: #1a2233;
  color: var(--neutral-white);
  height: 8rem;
  padding: 2.2rem 16.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav input[type='text'] {
  width: 42.1rem;
  height: 4rem;
  font-size: 1.6rem;
}

nav .login-btn {
  background-color: #661dee;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.2rem;
}

nav .nav-actions-icon {
  font-size: 2rem;
  position: relative;
}

.hero-section {
  position: relative;
}

.cta-container {
  position: absolute;
  top: 30%;
  left: 15%;
}

.cta-container h1 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--neutral-white);
}

.cta-container span {
  font-size: 3rem;
  color: var(--neutral-white);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.4rem;
  background-color: #f66249;
  color: var(--neutral-white);
  justify-content: center;
  align-content: center;
}

.flex-gap {
  gap: 1.5rem;
}

.grid-container h2 {
  font-size: 2rem;
}
.grid-container p {
  font-size: 1.4rem;
}
.grid-container i {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.trending-section-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
  padding: 4rem;
}

.trending-section .heading {
  margin-top: 2rem;
  margin-left: 4rem;
}
