.widhlist-container {
  flex-direction: column;
  padding: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  margin-top: 4rem;
}

.trending-section {
  height: 100%;
}
