<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://safientui.netlify.app/index.css" />
    <link rel="stylesheet" href="./my-cart.page.css" />
    <link rel="stylesheet" href="../../../index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>WishList</title>
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <!-- logo -->
      <h2 class="logo text-2xl"><a href="../../../index.html" class="link text-2xl">Logo</a></h2>
      <!-- search -->
      <input type="text" placeholder="Search" class="nav-search" />

      <!-- action buttons -->
      <div class="nav-actions">
        <button class="btn login-btn"><a href="../auth/login-page.html" class="link">Login</a></button>

        <div class="nav-actions-icon">
          <!-- <i class="fa fa-heart-o fa-2x nav-wishlist"></i> -->
          <a class="link" href="../wishlist/wishlist.page.html"> WishList</a>
        </div>

        <div class="nav-actions-icon">
          <a href="../cart-management/my-cart.page.html" class="link">Cart</a>
        </div>
      </div>
    </nav>
    <!-- End of nav -->

    <div class="widhlist-container flex-center">
      <h4 class="text text-2xl">My Wishlists</h4>

      <div class="grid mt-2xl">
        <div class="card ecomm">
          <div class="product-image">
            <img
              src="https://www.tissotwatches.com/media/catalog/product/cache/aaadd316e453df5b08f7f4246fad1a9c/T/1/T125.617.17.051.02_R.png"
              alt="card-pic"
            />
          </div>
          <div class="card-badge">NEW</div>
          <h2 class="card-title">TISSOT T-TOUCH EXPERT</h2>
          <div class="card-text">Smartwatches 2nd Gen</div>
          <div class="card-price">
            <span class="price-now"> Rs.45098 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>

        <div class="card ecomm">
          <div class="product-image">
            <img
              src="https://www.tissotwatches.com/media/catalog/product/cache/aaadd316e453df5b08f7f4246fad1a9c/T/1/T125.617.17.051.02_R.png"
              alt="card-pic"
            />
          </div>
          <div class="card-badge">NEW</div>
          <h2 class="card-title">TISSOT T-TOUCH EXPERT</h2>
          <div class="card-text">Smartwatches 2nd Gen</div>
          <div class="card-price">
            <span class="price-now"> Rs.45098 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>

        <div class="card ecomm">
          <div class="product-image">
            <img
              src="https://www.tissotwatches.com/media/catalog/product/cache/aaadd316e453df5b08f7f4246fad1a9c/T/1/T125.617.17.051.02_R.png"
              alt="card-pic"
            />
          </div>
          <div class="card-badge">NEW</div>
          <h2 class="card-title">TISSOT T-TOUCH EXPERT</h2>
          <div class="card-text">Smartwatches 2nd Gen</div>
          <div class="card-price">
            <span class="price-now"> Rs.45098 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
        <div class="card ecomm">
          <div class="product-image">
            <img
              src="https://www.tissotwatches.com/media/catalog/product/cache/aaadd316e453df5b08f7f4246fad1a9c/T/1/T125.617.17.051.02_R.png"
              alt="card-pic"
            />
          </div>
          <div class="card-badge">NEW</div>
          <h2 class="card-title">TISSOT T-TOUCH EXPERT</h2>
          <div class="card-text">Smartwatches 2nd Gen</div>
          <div class="card-price">
            <span class="price-now"> Rs.45098 </span>
            <span class="discount"> (62% OFF) </span>
          </div>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
  </body>
</html>
